In [33]:
import pandas as pd

In [34]:
df=pd.read_csv("scaler_apollo_hospitals_1.csv")

In [35]:
df.head(10)

   age  viral load  severity level  hospitalization charges
0   19        9.30               0                    42212
1   18       11.26               1                     4314
2   28       11.00               3                    11124
3   33        7.57               0                    54961
4   32        9.63               0                     9667
5   31        8.58               0                     9392
6   46       11.15               1                    20601
7   37        9.25               3                    18204
8   37        9.94               2                    16016
9   60        8.61               0                    72308

In [36]:
df.tail(10)

      age  viral load  severity level  hospitalization charges
1328   23        8.08               2                    55989
1329   52       12.87               2                    25813
1330   57        8.58               2                    31573
1331   23       11.13               0                    26990
1332   52       14.90               3                    28529
1333   50       10.32               3                    26501
1334   18       10.64               0                     5515
1335   18       12.28               0                     4075
1336   21        8.60               0                     5020
1337   61        9.69               0                    72853

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      1338 non-null   int64
 1   viral load               1338 non-null   float64
 2   severity level           1338 non-null   int64
 3   hospitalization charges  1338 non-null   int64
dtypes: float64(1), int64(3)
memory usage: 41.9 KB

In [38]:
df.describe()

               age   viral load  severity level  hospitalization charges
count  1338.000000  1338.000000     1338.000000              1338.000000
mean     39.207025    10.221233        1.094918             33176.058296
std      14.049960     2.032796        1.205493             30275.029296
min      18.000000     5.320000        0.000000              2805.000000
25%      27.000000     8.762500        0.000000             11851.000000
50%      39.000000    10.130000        1.000000             23455.000000
75%      51.000000    11.567500        2.000000             41599.500000
max      64.000000    17.710000        5.000000            159426.000000

In [39]:
import numpy as np
from sklearn.linear_model import LinearRegression
# training_data=np.loadtxt('0000000000002329_training_diabetes_x_y_train.csv', delimiter=',')
# testing_data=np.loadtxt('0000000000002329_test_diabetes_x_test.csv', delimiter=',')
# print(testing_data.shape)
# print(training_data.shape)

x=df.iloc[:,:3]
print(x)

      age  viral load  severity level
0      19        9.30               0
1      18       11.26               1
2      28       11.00               3
3      33        7.57               0
4      32        9.63               0
...   ...         ...             ...
1333   50       10.32               3
1334   18       10.64               0
1335   18       12.28               0
1336   21        8.60               0
1337   61        9.69               0

[1338 rows x 3 columns]

In [40]:
y=df.iloc[:,3:]
print(y)

      hospitalization charges
0                       42212
1                        4314
2                       11124
3                       54961
4                        9667
...                       ...
1333                    26501
1334                     5515
1335                     4075
1336                     5020
1337                    72853

[1338 rows x 1 columns]

In [41]:
x_train = df.iloc[2:,:]
y_train = df.iloc[:2,:]